:root{
    --blue-text: #0D1C41;
}

*{
    font-family: "Roboto", sans-serif;
}

.navigation__wrapper{
    box-shadow: 0px 4px 15px 0px #313C480D;
}

.container {
    width: 1165px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 145px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}


.nav__link--hover{
    transition: all 0.5s ease;
}

.nav__link--hover::after{
    
}



menu {
    display: flex;
    gap: 50px;
}



.company-logo {
    width: 53px;
    height: 58px;
    padding: 11px 0;
}


.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile__img{
    width: 34px;
    height: 34px;
}


.hero-bg{
    background-image: linear-gradient(to top, #566A82 0%, #566A82 50%, transparent 50.1%);
}

.hero {
    box-shadow: 2px 2px 5px #141D3D26, -2px -2px 5px #141D3D26;
    border-radius: 30px;
    margin-top: 30px;
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.hero__content{
    display: flex;
    flex-direction: column;
    max-width: 365px;
    gap: 20px;
    margin-top: 75px;
    color: var(--blue-text);
}

.hero__title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}


.hero__title--light {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    line-height: 42px;
    margin-top: 6px;

}
.hero__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.hero__img{
    width: 543px;
    height: 400px;
     
}

.button {
    box-shadow: 0px 2px 18px 0px #2929291A;
    box-sizing: border-box;
    border: 1px solid #4A607A;
    border-radius: 6px;
    text-align: center;
    width: 265px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.conditions{
    display: flex;
    flex-direction: column;
    padding: 0 120px;
    margin-top: 56px;
}

.conditions__wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.section__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
}

.conditions__title{
    margin-bottom: 80px;
}

.conditions__item{
    display: flex;
    align-items: center;
    gap: 190px;
}

.conditions__item-subtitle{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    margin-top: 8px;

}

.conditions__item-info{
    width: 282px;
    font-size: 24px;
    line-height: 28px;
}


.benefits-wrapper{
    padding: 100px 0 59px;
    background-color: #566A82;
}

.benefits__title {
    color: white;
    margin-bottom: 76px;
}

.benefits-list{
    display: flex;
    gap: 35px;
    justify-content: center;
}

.benefits-card{
    width: 160px;
    height: 190px;
    box-shadow: 0px 2px 18px 0px #2929291A, 0px -26px 0px #DDD0A4;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 34px 0;
    box-sizing: border-box;
}

.benefits-card__text{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
}